.grid-container {
  margin: 0;
  padding: 0;
  list-style: none;
}
.grid-container > div {
  border: 1px solid #ccc;
  background: #6fc4c8;
  text-align: center;
  padding: 20px 0;
}
.grid-container .selected {
  background-color: #ccc;
  color: black;
}
.grid-container .winner {
 /* background-color: #2c7586;*/
  background-color:#437d7d;
  color: rgb(232, 230, 230);
  animation: flash 0.1s linear 5;
}
@keyframes flash {
  from {
  opacity: 1;
  }
  to {
  opacity: 0.7;
  }
  }

  @media only screen and (max-width: 720px) {
    .grid-container > div {
      padding: 10px 0;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .grid-container > div {
      padding: 5px 0;
    }
  }
  
  @media only screen and (min-width: 721px) {
    .grid-container {
    margin: 0 150px;
    }
    }
  